
        @font-face {
            font-family: 'Inter';
            font-weight: 100 900;
            font-display: swap;
            font-style: normal;
            font-named-instance: 'Regular';
            src: url("/assets/fonts/Inter-Variable.woff2") format("woff2");
        }
    