@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Adjustments */
body {
    background-color: #0f172a;
    /* nucleus-dark */
    color: white;
    font-family: 'Inter', sans-serif;
}